 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template-1</title>
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header-info">
        <i class="fa fa-envelope-o"></i>&nbsp;
        <a href="#">contact@example.com</a>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-mobile"></i>&nbsp;
        <a href="#">+9327283861</a>
        <div class="social-media">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </div>
    </div>
    <div class="header">
        <h3>Impact&nbsp;<span>.</span></h3>
        <div class="header-containt">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Team</a>
            <a href="#">Blog</a>
            <a href="#">Drop Drown</a>
            <a href="#">Contact</a>
        </div>
    </div>


    <div class="containor">
        <div class="detail">
            <h1>Welcome to Impact</h1>

                <b>
                    Sed autem laudantium dolores. Voluptatem itaque ea consequatur
                    eveniet. Eum quas beatae cumque eum quaerat.
                </b>

                <button>Get started</button>
                
                <span class="fa fa-play-circle-o"></span>&nbsp;
                    
                <a class="video-name"><b>Watch Video</b></a>

               
        </div>
        
        <div class="image-board">
            <img src="image/background.jpeg">
        </div>

       
    </div>

    <div class="sub-containor">
        <div class="card" align="center">
                <span class="fa fa-desktop"></span>
                    <h3>Lorem Ipasum</h3>
        </div>

        <div class="card" align="center">
            <span class="fa fa-diamond"></span>
                <h3>Sed ut <br>perspiciatis</h3>
        </div>

        <div class="card" align="center">
            <span class="fa fa-map-marker"></span>
                <h3>Magni Dolores</h3>
        </div>

        <div class="card" align="center">
            <span class="fa fa-copyright"></span>
                <h3>Nemo Enim</h3>
        </div>
</div>
</body>
</html>