<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
</head>
<body>
    <div class="login-form">
        <div class="form" align="center">
            <h1>Login to your Account</h1>
            <h4>Login using social network</h4>
                <ul>
                    <li><a href="#"><span class="fa fa fa-facebook"></span></a></li>
                    <li style="height:50px;width:50px;text-align: center; border-radius: 100%;background-color:#e0483d;">
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                    </li>
                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>          <br>
                </ul>

            <fieldset>
                <legend align="center">OR</legend>
                <form>
                    <input name="Email" placeholder="Email"><br><br>
                    <input name="Password" placeholder="Password"><br><br>
                    <button>Sign Up</button>
                </form>
            </fieldset>

        </div>

        <div class="sign-up" align="center">
            <h1>New Here?</h1>
            <p>
                Sign up and discover a great<br>amount of new opportunities!
            </p>
            <button>Sign Up</button>
        </div>
    </div>
</body>
</html>