body{
    padding: 0;
    margin: 0;
}
.loader{
    height: 100vh;
    
    position: relative;
}
.loader img{
    display: block;
    height: 40vh;
    width: 25%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.layout{
    background-color: black;
    width: 0%;
    /* height: 20vh; */
    /* display: none; */
    
   transition:2s ease all ;
}
@keyframes layout{
    0% {
        height: 0vh;
    }
    50%{
        height: 50vh;
    }
    100%{
        height: 100vh;
    }
}