<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="left-container"></div>
            <div class="right-container"></div>
    
            <div class="form-container">
                <div class="left-form-container">
                    <img src="image/logo.jpeg">
                    <p><b>India first waterless <br>car cleaning company</b></p>
                </div>

                <div class="right-form-container">
                    <a href="#">Need help?</a>
                    <div class="form">
                        <fieldset>
                            <legend align="center"><b>Log in</b></legend>
                                <form>
                                    <label><b>Email</b></label><br>
                                    <input type="email" placeholder="Joe@email.com" required><br>
                                    <label><b>Password</b></label><br>
                                    <input type="password" placeholder="Enter your Password"required><br>
                                    <a href="#">forgot password?</a><br><br>
                                    <button><b>Login</b></button>
                                </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>