<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
</head>

<body>
    <div class="main-container">
        <div class="login-form">
            <center>
                <div class="form-content">
                    <h1>Create Account</h1>
                    <h3>Get started with your free account</h3>
                    <button id="btn1"><i class="fa fa-twitter"></i>&nbsp;&nbsp;&nbsp;Login Via Twitter</button>
                    <br><br>
                    <button id="btn2"><i class="fa fa-facebook"></i>&nbsp;&nbsp;&nbsp;Login Via Facebook</button>
                    <br><br>
                    <fieldset>
                        <legend align="center">OR</legend>
                        <form>
                            <i class="fa fa-user"></i><input type="text" placeholder="Full name" required><br><br>
                            <i class="fa fa-envelope"></i><input type="text" placeholder="Email address"
                                required><br><br>

                            <i class="fa fa-phone"></i>
                            <select>
                                <option>+971</option>
                                <option>+972</option>
                                <option>+973</option>
                            </select>

                            <input class="phn-num" type="text" placeholder="Phone number" required><br><br>

                            <i class="fa fa-building"></i>
                            <select class="select-job">
                                <option>Devlopment</option>
                                <option>Marketing</option>
                                <option>Content writer</option>
                            </select>
                            <br><br>
                            <i class="fa fa-lock"></i><input type="password" placeholder="Create password"
                                required><br><br>
                            <input type="submit" placeholder="Submit"><br><br>
                            <input type="reset" placeholder="Reset">

                        </form>
                    </fieldset>
                </div>
            </center>
        </div>
    </div>
</body>

</html>