h1{
  text-align: center;
}
button{
   width: 20%;
  height: 50px;
  margin-top: 50px !important;
  /* width: ; */
  background-color: black;
  color: aliceblue;
  font-size: 20px !important;
}

@media (max-width:996px){
  .container{
    
    flex-direction: column;
  }

  button{
    width: 50%;
    align-self: center;
  }
}